<div class="header">
    <div class="navbar">
        <ul>
            <li><a routerLink="/home/resource-section">Home</a></li>
            <li><a routerLink="">Contact Us</a></li>
            <li><a routerLink="/user-login">Sign In</a></li>
            <li><a routerLink="/home/admin-section">Admin</a></li>
            <li><a (click)="logOut()" style="cursor: pointer;">Sign Out</a></li>
        </ul>
    </div>
    <div class="navbar-content">
        <div class="content-heading">
            <h1>Sharjeel Rasheed</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, sint! Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Impedit saepe accusantium tempora officiis at adipisci inventore
                exercitationem vitae aliquam aliquid.</p>
        </div>
        <div class="box-img">
            <div class="card">
                <img src="./assets/Sharjeel.jpg" alt="">
            </div>
        </div>
    </div>
</div>