<div class="header">
  <div class="navbar">
    <ul>
      <li><a routerLink="/user-dashboard" *ngIf="isLogin">Sales Dashboard</a></li>
      <li><a routerLink="/home/resource-section">Home</a></li>
      <li><a routerLink="contact-us">Contact Us</a></li>
      <li>
        
        <a routerLink="/home/admin-section" *ngIf="isAdmin">Admin</a>
      </li>
      <li>
        <a routerLink="/home/user-profile" *ngIf="!isAdmin && isLogin"
          >User Profile</a
        >
      </li>
      <li><a (click)="logOut()" style="cursor: pointer" *ngIf="isLogin">Sign Out</a></li>
    </ul>
  </div>
  <div class="navbar-content">
    <div class="content-heading">
      <h1>Sharjeel Rasheed</h1>
      <p>
        I am a full-stack developer with 3 years of experience,
        specializing in Angular, React, Node.js, and MongoDB. I have worked on
        multiple projects throughout my career, ranging from small-scale
        applications to enterprise-level solutions. I am dedicated,
        detail-oriented, and passionate about delivering high-quality web
        applications. If you're looking for an experienced developer to bring
        your projects to life, feel free to reach out.
      </p>
    </div>
    <div class="box-img">
      <div class="card">
        <img src="./assets/boy.jpeg" alt="">
      </div>
    </div>
  </div>
</div>
