<div class="main-wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="title">User Update </p>
        <div class="show-selected-image">
            <div class="flex-img">
                <img [src]="user.imageURL" alt="">
            </div>
        </div>
        <label>
        </label>
        <div class="flex">
            <label>
                <input formControlName="firstName" name="firstName" placeholder="" type="text" class="input">
                <span>First name</span>
            </label>
            <label>
                <input formControlName="lastName" name="lastName" placeholder="" type="text" class="input">
                <span>Lastname</span>
            </label>
        </div>

        <label>
            <input placeholder="" type="email" formControlName="email" name="email" class="input">
            <span>Email</span>
        </label>

        <label>
            <input formControlName="password" name="password" placeholder="" type="password" class="input">
            <span>Password</span>
        </label>
        <button class="submit">Update</button>
    </form>
</div>