<div class="main-wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="title">Upload Resource</p>
        <div class="show-selected-image">
            <div class="flex-img" *ngIf="showImg">
                <img [lazyLoad]="ImgStore" alt="">
            </div>
        </div>
        <div class="flex-file">
            <input formControlName="imageURL" name="imageURL" placeholder="" accept="image/png, image/jpeg, image/jpg " (change)="getImg($event)" #img
                type="file" id="file-input" class="input">
        </div>
        <div class="progress" *ngIf="progressBar()">
            <div class="progress-bar" [style.width]="progressBar() + '%'">{{progressBar()}}%</div>
        </div>
        <label for="title">
            <input formControlName="title" name="title" placeholder="Resource Title" type="text" class="input">
            <span><b>Title</b></span>
        </label>

        <label for="description">
            <textarea placeholder="Resource Description" formControlName="description" name="description"></textarea>
            <span>Description</span>
        </label>
        <button class="submit">Upload</button>
    </form>
</div>