<div class="contact-us-wrapper">
  <div class="content">
    <h1>Contact us:</h1>
    <p>Developer: <strong>Sharjeel Rajpoot </strong></p>
    <p>Phone: <strong> 0305-1987143 </strong></p>
    <p>WhatsApp: <strong> 0349-7182438 </strong></p>
    <p>
      Thank you for visiting our website. If you have any questions, feedback,
      or inquiries, please don't hesitate to reach out to me. I am the sole
      developer behind this website and I value your input. For general
      inquiries, you can contact me directly at the provided phone number or
      send me a message via WhatsApp. I am available to assist you during my
      working hours. I appreciate your interest in my work and look forward to
      hearing from you soon.
    </p>
  </div>
</div>
