<div class="main-wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="title">Upload Resource</p>
        <div class="show-selected-image">
            <div class="flex-img">
                <img [lazyLoad]="resource.imageURL" alt="">
            </div>            
        </div>
        <label for="title">
            <input formControlName="title" formControlName="title" name="title" placeholder="Resource Title" type="text" class="input">
            <span><b>Title</b></span>
        </label>

        <label for="description">
            <textarea placeholder="Resource Description" formControlName="description" name="description"></textarea>
            <span>Description</span>
        </label>
        <button class="submit">Update Resource</button>
    </form>
</div>