<div class="main-wrapper">
    <div class="form-container">

        <form class="form" [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()" novalidate>
            <p class="title">Password Change</p>
            <div class="input-group">
                <label for="password">New Password</label>
                <input type="text" formControlName=password name="password" id="password" placeholder="">

            </div>
            <div class="input-group">
                <label for="confirm_password">Confirmed Password</label>
                <input type="text" name="password" formControlName=confirm_password #Confirm_password
                    id="confirm_password" placeholder="">
                <span *ngIf="ChangePasswordForm.errors?.['passwordmatcherorr']">Password does not match</span>
                <div></div>
            </div>
            <button type="submit" [disabled]="!ChangePasswordForm.valid" class="sign">Submit</button>
        </form>
    </div>
</div>